header,body,ul,li{
    margin: 0;padding:0;

}
img,a{
    display: block;
    text-decoration: none;
}
.navbar{
    border-radius: 0;
}
.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg");
    background-size: cover;
}

.page-header{
    float: left;
}
.section-b-items>.list-group{
    margin-top: 25px;
}
.section-title{
    overflow: hidden;
}
.page-header{
    position: relative;
    margin-top: 0;
    z-index: 99;
    color: #fff;
}
.page-header>h2>small{
    color: #f2dede;
}
.section-title>nav{
    float: right;
    margin-top: 30px;

}
.section-bottom{
    overflow: hidden;
}
.section-bottom>.row{
    overflow: hidden;
    margin: 0;
    height: auto;
}
.section-b-content{

    background-color: #f6f6f6;
    height: 500px;
    float: left;
}
.section-b-items{

    background-color: #f2f2f2;

    float: left;
    padding-top:20px
}
.section-b-items{
    text-align: center;
}
.list-group-item{
    text-align: left;

}
.list-group-item>a{
    color:#000;

}
.list-group>a{
    cursor:pointer;
}
.list-group>li>a{
    display: inline-block;
}
.section-b-items>h4{
    text-align: left;
}
.section-b-content{
    padding-top: 10px;
    overflow: hidden;
    height: auto;
}
h3>a{
     display: inline-block;
 }
h4>a{
    display: inline-block;
}
.caption>p{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-orient:vertical;
}
.btn-primary>span{
    margin-left: 10px;
}
.w-color{
    background-color: #fff;
    color: #000;
}
.Page,.navigation{
    /*display: flex;*/
    /*justify-content:center;*/
    /*padding-top: 1px;*/
    /*position:relative;*/
    /*overflow:hidden;*/
    /*height: auto;*/
}
.pagination{
    /*position:absolute;*/
    /*left:0;top:0;*/
    /*right:0;bottom:0;*/
    /*margin: auto;*/
    /*margin-left:auto!important;*/
    /*margin-right:auto!important;*/
}
footer{
    position: relative;
    z-index: 555;
    margin-top: 30px;
}
footer>h5{
    color: #fff;
    text-align: center;
}
@media screen and (min-width:768px){

    .navbar-form .form-control{
        width: 100px;
    }


}
@media screen and (max-width:768px){


    .section-b-items{
        display: none;
    }
    .navbar-nav > li>a{
        height: 50px;
        line-height: 30px;
    }
}
@media screen and (max-width:990px){
    header .form-group{
        width: 100px;
    }
    .navbar-form .form-control{
        width: 100px;
    }

    .navbar-nav{
        margin: 0;

    }
    .navbar-nav > li{
        float: left;

    }



}
@media screen and (min-width:992px){

    .navbar-form .form-control{
        width: auto;
    }

}